*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;

}
:root{
    --white: #f3f2f3;
    --bg-color: #030326;
    --text-color: #101010;
    --dark-gray: #212022;
    --main-color: #ffb914;
    --yel: #e9e63c;
    --main: #0a5af4;

    --sec-color: #f5b642;
    --dsec-color: #63450f;

    /* --main: #f15874; */

    --color1: #3b45e1;
    --color2: #2c36ce;
    --color3: #1e28bb;
    --color4: #0f19a8;
    --color5: #000a95;

    --pur1: #a8009a;
    --pur2: #be20b3;
    --pur3: #43339e;

    --black1: #04161f;
    --black2: #031117;
    --black3: #020b10;
    --black4: #010608;

    --pinred1: #ea284b;

    --cian1: #0adbd2;
}
html{
    height: 100%;
    overflow: overlay;
}
body{
    height: 100%;
    /* background: linear-gradient(135deg, var(--pur3), var(--color4), var(--color5)); */
    /* background-image: linear-gradient( 109.6deg,  #04161f 11.2%, #010608 91.2% ); */
    /* color: var(--text-color); */
    background-image: linear-gradient( 109.6deg,  #04161f 11.2%, #010608 91.2% );
    /* overflow: overlay; */
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background-image: linear-gradient( 109.6deg,  #04161f 11.2%, #010608 91.2% );
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px); */
    /* justify-content: center; */
    /* outline: 5px solid var(--color3); */

    transition: all 0.5s ease;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 44px;
    font-weight: bolder;
    color: var(--sec-color);
    margin-right: 50px;
    /* margin-left: 80px; */
}
.navbar{
    display: flex;
    /* background: var(--main); */
    padding: 5px;
    margin-right: 2vw;
    /* border-radius: 40px; */

    background: rgba(42, 43, 90, 0.16);
    border-radius: 16px;        
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);

    outline: 2px solid var(--sec-color);

    transition: all 0.5s ease;
}
.navbar a{
    font-size: 20px;
    justify-content: space-around;
    padding: 32px;
    color: var(--main);
    font-weight: 1000;
    transition: all 0.5s ease;
}
.navbar a.active{
    color: var(--sec-color);
    font-weight: bolder;
}
.navbar a:hover{
    color: var(--white);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    right: 0;
    top: 0;
}
#main{
    height: 600px;
    width: 100%;
    margin-top: 70px;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#main .block{
    width: 45vw;
    height: 400px;
    margin-left: 10px;
    /* background: var(--white); */
    /* background: black; */
    border-radius: 20px;

    /* From https://css.glass */
    /* background: rgba(207, 209, 255, 0.16); */
    /* border-radius: 16px;        
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px); */

    /* background: black; */
}
#main .b-one{
    height: 500px;
    max-width: 900px;
    /* background: red; */
    
}
#main .b-two{
    height: 500px;
    width: 500px;
    margin-top: 0px;
    padding: 0;
    border-radius: 16px;        
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    /* background: black; */
    transition: all .3s ease;
    
}

.text{
    padding: 70px;
}
.text h2{
    font-size: 40px;
    line-height: 40px;
    color: var(--sec-color);
}
.text p{
    color: var(--white);
    margin-top: 20px;
}


#second{
    width: 100%;
    height: 600px;
    background: linear-gradient( 109.6deg,  #04161f 11.2%, #010608 91.2% );
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-box{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#second .title-box h2{
    color: var(--white);
    font-size: 300px;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--sec-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.title-box h2{
    color: var(--white);
    font-size: 300px;
    text-align: center;
    transition: all .3s ease;
}
#third{
    /* background: red; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#third .title-box{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--sec-color);
}
#third .title-box h2{
    color: var(--sec-color);
}
#fourth{
    background: linear-gradient(109.6deg, var(--sec-color) 11.2%, var(--dsec-color) 91.2%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
#fourth .title-box h2{
    -webkit-text-stroke-color: #074272;
    -webkit-text-stroke-width: 4px;
    color: transparent;
    text-shadow: 10px 10px 1px white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black4);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--sec-color);
    /* background: transparent; */
    /* max-height: 10px; */
    box-shadow: 0 -100vh 0 100vh var(--sec-color), 0 0 15px 5px black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dsec-color);
  }


/*responsividade*/
@media (max-width: 1800px){
    #second .title-box h2,
    #third .title-box h2,
    #fourth .title-box h2{
        font-size: 200px;
    }

}
@media (max-width: 1280px){
    #third .title-box h2,
    #fourth .title-box h2{
        font-size: 100px;
    }

}
@media (max-width: 1090px){
    header{
        justify-content: space-between;
        background: #031117aa;
        backdrop-filter: blur(20px);
    }
    .logo{
        margin-left: 5vw;
        margin-right: 0;
        padding: 0;
    }
    .navbar{
        background: transparent;
        outline: 0;
    }
    .navbar a{
        justify-content: space-around;
        padding: 10px;
        font-weight: 600;
    }
    #main{
        flex-direction: column;
        height: min-content;
        /* justify-content: center; */
    }
    #main .block{
        margin-top: 20px;
        width: 80vw;
        height: 400px;
    }
    #main .b-one{
        padding: 10px;
        /* background: green; */
    }
    #main .b-two{
        padding: 0;
        padding-top: 0;
        margin: 0;
        /* background: red; */
        border-radius: 0;
        margin-bottom: 60px;
        width: 100%;
        
    }
    .text{
        padding: 30px;
    }
}
@media (max-width: 720px){
    #second .title-box h2{
        font-size: 100px;
    }
    #third .title-box{
        padding-left: 10px;
        padding-right: 10px;
    }
    #third .title-box h2{
        font-size: 100px;
    }
    #fourth .title-box h2{
        font-size: 50px;
    }
}
@media (max-width: 550px){
    #main .b-one{
        padding: 0px;
        width: 100%;
        /* background: green; */
    }
    #main .b-one p{
        font-size: 12px;
    }
    #third .title-box{
        padding-left: 10px;
        padding-right: 10px;
    }
    #third .title-box h2{
        font-size: 80px;
    }
}
@media (max-width: 460px){
    #third .title-box{
        padding-left: 10px;
        padding-right: 10px;
    }
    #third .title-box h2{
        font-size: 50px;
    }
}
@media (max-width: 590px){
    .navbar{
        display: none;
    }
}